{{ $image := partialCached "helper/image" (dict "Context" . "Type"
"articleList") .RelPermalink "articleList" }}
<article class="{{ if $image.exists }}has-image{{ end }}">
  {{ if .Scratch.Get "isHome" }}
  <p class="jli-debug">
    isHome is true from Scratch.Get (article > components > header)
  </p>
  {{ .Scratch.Set "isHome" true }} {{ else }}
  <p class="jli-debug">
    isHome is false from Scratch.Get (article > components > header)
  </p>
  {{ .Scratch.Set "isHome" false }} {{ end }} {{ partial
  "article/components/header" . }}
</article>
Get