{{- $context := .Context -}}
{{- $limit := default 10 .Params.limit -}}
<section class="widget tagCloud">
  <!-- customized JLI -->
  <details>
    <summary
      class="widget-title section-title"
      aria-label="{{ T "widget.categoriesCloud.accessibleLabel" }}"
      title="{{ T "widget.categoriesCloud.accessibleLabel" }}">
      <span class="widget-icon">{{ partial "helper/icon" "categories" }}</span>
      <span class="widget-title">
        {{ T "widget.categoriesCloud.title"  (dict "MaxInCloud" $limit) | safeHTML }}
      </span>
    </summary>
    <div class="tagCloud-tags">
      {{ range first $limit $context.Site.Taxonomies.categories.ByCount }}
        <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
          {{ .Page.Title }} ({{ .Count }})
        </a>
      {{ end }}
      <div>
        <p>
          {{ T "widget.categoriesCloud.allDivParagraph" (dict "MaxInCloud" $limit) | safeHTML }}
        </p>
        <a href="{{ urlize "/categories/" }}"
          ><strong>{{ T "widget.categoriesCloud.allDivLinkText" }}</strong>
        </a>
      </div>
    </div>
  </details>
</section>
