<article class="participate participate-options">
  <p>
    <a
      href="https://buy.stripe.com/9AQ01H3Fzcgd1eE3cc"
      target="_blank"
      class="nav-link action-button primary"
      aria-label="Help me each year"
      >Annuellement</a
    >
  </p>
  <p>
    <a
      href="https://buy.stripe.com/eVadSx6RLa85cXm9AB"
      target="_blank"
      class="nav-link action-button secondary"
      aria-label="Help me each year"
      >Mensuellement</a
    >
  </p>
  <p>
    <a
      href="https://buy.stripe.com/cN25m1foh6VTaPe6oq"
      target="_blank"
      class="nav-link action-button secondary"
      aria-label="One time tip"
      >Une fois</a
    >
  </p>
</article>
